.intro{
    display: flex;
    height: 100vh;
    @include media(1400){
        flex-direction: column;
    }
    &__title{
        font-weight: 700;
        font-size: 58px;
        line-height: 101.9%;
        text-transform: uppercase;
        color: #000000;
        max-width: 518px;
        width: 100%;
        margin-bottom: 25px;
        @include media(768){
            font-size: 30px;
            line-height: 101.9%;
            margin-bottom: 15px;
            max-width: 100%;
        }
        span{
            color: #D0A883;
        }
    }
    &__left{
        width: 50%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        padding-right: 82px;
        @include media(1400){
            align-items: flex-start;
            height: max-content;
            width: 100%;
            padding-top: 22px;
            padding-bottom: 0;
            padding-right: 0;
            &-body{
                width: 100%;
                max-width: 550px;
                margin-left: auto;
                margin-right: auto;
                padding-right: 10px;
                padding-left: 10px;
            }
        }
    }
    &__desc{
        font-weight: 400;
        font-size: 28px;
        line-height: 130%;
        color: #767676;
        margin-bottom: 45px;
        max-width: 518px;
        width: 100%;
        @include media(1400){
            margin-bottom: 13px;
        }
        @include media(768){
            font-size: 16px;
            line-height: 130%;
            max-width: 100%;
        }
        span{
            font-weight: 700;
            color: #303030;
        }
    }
    &__img{
        margin-left: -32px;
        width: calc(100% + 64px);
        line-height: 0;
        @include media(1400){
            margin-left: 0;
            width: 100%;
            margin-bottom: -150px;
            z-index: 1;
            position: relative;
        }
        @include media(575){
            margin-bottom: -25%;
        }
        img{
            width: 100%;
        }
    }
    &__right{
        background: #303030;
        width: 50%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 70px;
        @include media(1400){
            width: 100%;
            height: max-content;
            padding-top: 166.5px;
            padding-left: 0;
            padding-bottom: 28px;
        }
        @include media(768){
            flex: 1 1 auto;
            justify-content: flex-start;
        }
        &-body{
            @include media(1400){
                max-width: 550px;
                width: 100%;
                margin-left: auto;
                margin-right: auto;
                padding-right: 10px;
                padding-left: 10px;
            }
        }
    }
    &__logo{
        margin-bottom: 65px;
        display: block;
        @include media(1400){
            margin-bottom: 20px;
        }
        @include media(768){
            max-width: 130px;
            width: 100%;
        }
        img{
            @include media(768){
                width: 100%;
            }
        }
        &.light{
            display: none;
            @include media(1400){
                display: block;
            }
        }
        &.dark{
            @include media(1400){
                display: none;
            }
        }
    }
    &__p{
        font-family: Inter;
        font-style: normal;
        font-weight: 700;
        font-size: 21px;
        line-height: 135.52%;
        text-transform: uppercase;
        color: #EDEDED;   
        margin-bottom: 41px;
        max-width: 434px;
        width: 100%;     
        @include media(768){
            font-size: 18px;
            line-height: 22px;
            margin-bottom: 20px;
        }
    }
    &__form{
        margin-bottom: 30px;
        max-width: 434px;
        width: 100%;
        @include media(1400){
            max-width: 550px;
            width: 100%;
            margin-bottom: 20px;
        }
    }
    &__input{
        display: flex;
        align-items: center;
        height: 44px;
        margin-bottom: 10px;
        background: #464646;
        border-radius: 14px;
        padding: 11px 17px;
        font-family: Inter;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #757575;
        border: none;
        width: 100%;
        @include media(768){
            height: 35px;
            font-size: 14px;
            line-height: 17px;
        }
        &::placeholder{
            font-family: Inter;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            color: #757575;
            @include media(768){
                font-size: 14px;
                line-height: 17px;
            }
        }
        &:last-of-type{
            margin-bottom: 25px;
        }
    }
    &__btn{
        width: 100%;
        background: #D0955F;
        border-radius: 14px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        text-transform: uppercase;
        color: #FFE4CB;
        transition: 300ms ease;
        &:hover{
            color: #CCB49E;
            background: #97693E;
        }
        @include media(768){
            height: 35px;
            font-size: 14px;
            line-height: 17px;
        }
    }
    &__info{
        font-family: Inter;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;
        max-width: 434px;
        width: 100%;
        @include media(768){
            max-width: 100%;
            font-size: 14px;
            line-height: 17px;
        }
        span{
            font-weight: 700;
        }
    }
}